html * {
    padding: 0;
    margin: 0;
}
body{
    background: #000000;
}
canvas {
    touch-action-delay: none;
    touch-action: none;
    -ms-touch-action: none;
    width: 100%;
    height: 100%;
}